<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ea1eb92-ac14-42f3-bfd5-4fb75f96e5be/resourceGroups/apim-test/providers/Microsoft.Web/sites/booking-example</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://booking-example.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>92640bb8-2bed-4d45-bd4b-b719bdb0c04a</ProjectGuid>
    <PublishUrl>https://booking-example.scm.azurewebsites.net/</PublishUrl>
    <UserName>$booking-example</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>